:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-color: linear-gradient(164deg, #bbebad 1.12%, #87da46 78.1%);
}

.main {
  margin-top: 55px;
  border-radius: 15px 15px 0 0;
  min-height: calc(100vh - 55px);
}

.main.variant {
  min-height: calc(100vh - 274px);
}
